header {
display: flex;
height: 250px;
min-width: 393px;
min-height: 250px;
align-items: center;
gap: 10px;
flex-shrink: 0;
align-self: stretch;
background: #000;
}

.container {
display: flex;
padding: 10px 50px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border: 11px solid #000;
background: #4D4D4D;
}

.image2 {
    background-image: url("../assets/images/image_vampire_survivors.png");
    height: 581.06px;
    align-self: stretch;
}